<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BigInteger" version="1.0.7" targetFramework="net461" />
  <package id="big-integer.TypeScript.DefinitelyTyped" version="0.7.0" targetFramework="net461" />
  <package id="SingleFile.VB.Acknowledgement" version="1.0.26" targetFramework="net461" />
  <package id="SingleFile.VB.ExtString.FillIn" version="1.0.26" targetFramework="net461" />
  <package id="SingleFile.VB.LicenseInfo" version="1.0.26" targetFramework="net461" />
  <package id="SingleFile.VB.LicenseInfo.MitLicense" version="1.0.26" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
</packages>